# Configuration file, edit if you want at your own risk

########################################
# devstack have follwoing components:
#        keystone, glance, nova, cinder, neutron, heat
#
####################################

 
 
# Credentials
DATABASE_PASSWORD=devstack
ADMIN_PASSWORD=devstack
SERVICE_PASSWORD=devstack
SERVICE_TOKEN=devstack
RABBIT_PASSWORD=devstack
RECLONE=yes

#OFFLINE=True     

 


#Aggregate logging across the cluster throught rsyslog.
#SYSLOG=True in local.conf. SYSLOG_HOST defaults to HOST_IP;
#SYSLOG_HOST=controller_ip  ( it will useful for log correlation engine ELK stack)


#########################################3
# keystone
ENABLED_SERVICES+=,key

#glance
ENABLED_SERVICES+=,g-api,g-reg

#cinder
ENABLED_SERVICES+=,cinder,c-sch,c-api,c-vol,c-bak

#trove
#ENABLED_SERVICES+=,trove,tr-api,tr-tmgr,tr-cond

#manila
#ENABLED_SERVICES+=,manila,m-api,m-sch,m-shr

#pre-requistics ## queue server, database 
ENABLED_SERVICES+=,rabbit,mysql

# for testing - tempest
ENABLED_SERVICES+=,tempest

#horizon dashboard
ENABLED_SERVICES+=,horizon

# nova - compute service
ENABLED_SERVICES+=,n-api,n-crt,n-obj,n-cpu,n-cond,n-sch


# VNC for vm
ENABLED_SERVICES+=,n-novnc,n-xvnc,n-cauth

# normal networking (deprecated)
#ENABLED_SERVICES+=,n-net

## Nova Cells
#ENABLED_SERVICES+=,n-cell


#SWIFt configuration:
#enable_service s-proxy s-object s-container s-account
#ENABLED_SERVICES+=,s-proxy,s-object,s-container,s-account  ## swift

#neutron needs for manila
#disable_service n-net
#enable_service q-svc,q-agt,q-dhcp,q-l3,q-meta,neutron
#

###   networking  (neutron)
disable_service n-net   ## disabling nova network
## enabling neutron network
enable_service q-svc,neutron
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta

# neutron load balancing services
ENABLED_SERVICES+=,q-lbaas

## neuron - vpn as a service
ENABLED_SERVICES+=,q-vpn

##neutron - firewall as a service
ENABLED_SERVICES+=,q-fwaas

## VLAN configuration
# Q_PLUGIN=ml2
# ENABLE_TENANT_VLANS=True

# GRE tunnel configuration
# Q_PLUGIN=ml2
# ENABLE_TENANT_TUNNELS=True

# VXLAN tunnel configuration
# Q_PLUGIN=ml2
# Q_ML2_TENANT_NETWORK_TYPE=vxlan   


# Heat - Orchestration Service
ENABLED_SERVICES+=,heat,h-api,h-api-cfn,h-api-cw,h-eng


#   Ceilometer
#  Enable the ceilometer metering services
# enable_service ceilometer-acompute ceilometer-acentral ceilometer-anotification ceilometer-collector

#  Enable the ceilometer alarming services
# enable_service ceilometer-alarm-evaluator,ceilometer-alarm-notifier
#  Enable the ceilometer api services
# enable_service ceilometer-api

# Apache fronted for WSGI
# APACHE_ENABLED_SERVICES+=keystone,swift

## For Ceph
#ENABLED_SERVICES+=,ceph
#CEPH_LOOPBACK_DISK_SIZE=10G
#CEPH_CONF=/etc/ceph/ceph.conf
#CEPH_REPLICAS=1
#GLANCE_CEPH_USER=glancy
#GLANCE_CEPH_POOL=imajeez
#CINDER_DRIVER=ceph
#CINDER_CEPH_USER=cindy
#CINDER_CEPH_POOL=volumeuh
#CINDER_CEPH_UUID=6d52eb95-12f3-47e3-9eb9-0c1fe4142426
#CINDER_BAK_CEPH_POOL=backeups
#CINDER_BAK_CEPH_USER=cind-backeups
#CINDER_ENABLED_BACKENDS=ceph,lvm
#NOVA_CEPH_POOL=vmz



################################################################
 

#FLAT_INTERFACE=eth0
#FIXED_RANGE=10.184.39.0/20     ### IP which is not used in local network
#NETWORK_GATEWAY=10.184.39.1
#FIXED_NETWORK_SIZE=4096
#FLOATING_RANGE=192.168.42.128/25   ### internal address used by instances

# Images
# Use this image when creating test instances
IMAGE_URLS+=",http://download.cirros-cloud.net/0.3.4/cirros-0.3.4-x86_64-disk.img"
 
# Enable Logging
LOGFILE=/opt/stack/logs/stack.sh.log
VERBOSE=True
LOG_COLOR=True
SCREEN_LOGDIR=/opt/stack/logs



